.board-detail {
  position: relative;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  flex-grow: 1;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 4px;
}

.delete-button {
  margin-left: 10px;
  background-color: #666666;
  padding: 5px;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: #a2a2a2;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button:hover {
  background-color: #ff0000;
}
