.board-detail {
  position: fixed; /* 위치 고정 */
  top: 70px; /* 상단에서 70px 떨어진 위치 */
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2%;
  overflow-y: auto; /* 세로 스크롤을 허용 */
  max-height: calc(
    100vh - 70px
  ); /* 최대 높이를 설정하여 스크롤이 생기도록 함 */
}

.header {
  display: flex;
  flex-wrap: wrap; /* 작은 화면에서 줄 바꿈을 허용 */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  flex-grow: 1;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 4px;
}

.author {
  margin: 5px 0;
  font-weight: bold;
  font-size: 13px;
  color: #555;
}

.created-at {
  font-size: 0.7em;
  color: gray;
}

.delete-button {
  margin-left: 10px;
  background-color: #ffffff;
  padding: 5px;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  margin-left: 10px;
  background-color: #ffffff;
  padding: 5px;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button:hover,
.back-button:hover {
  background-color: #ffffff;
}

.content {
  word-wrap: break-word; /* 긴 텍스트가 박스를 넘지 않도록 */
}

.post-content {
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .header {
    align-items: flex-start;
  }

  .header h1 {
    font-size: 20px; /* 제목 크기 조정 */
    margin-bottom: 10px; /* 하단 여백 추가 */
  }

  .delete-button,
  .back-button,
  .reply-button {
    width: 40px; /* 버튼 크기 조정 */
    height: 40px;
    margin-left: 0;
    margin-bottom: 10px; /* 하단 여백 추가 */
  }
}
