h4 {
  margin: 1%;
}

.comment-container {
  padding: 20px;
  border-top: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.comment-container h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-container {
  padding: 20px;
  border-top: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.comment-container h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-form textarea {
  width: 100%; /* 부모 요소에 맞게 설정 */
  max-width: 100%; /* 최대 너비를 부모 요소에 맞게 설정 */
  min-width: 100%; /* 최소 너비를 부모 요소에 맞게 설정 */
  height: 40px; /* 고정된 높이 설정 */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none; /* 크기 조절 불가능하게 설정 */
}

.btn-form {
  display: flex;
  justify-content: center; /* 가로 정렬 */
  align-items: center; /* 세로 정렬 */
}

.comment-form button {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 12px;
  width: 43%;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.comment-list {
  margin-top: 20px;
}

.comment-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-item p {
  margin: 5px 0;
  font-size: 0.9em;
}

.comment-item .comment-author {
  font-weight: bold;
  font-size: 13px;
  color: #555;
}

.comment-item .comment-date {
  font-size: 0.7em;
  color: gray;
}
